//- index.pug


include head/head.pug
body
	include header/header.pug
	.you.container
		.you__text
			.you__block.center-size-you3
				h4.titel.center-text Спасибо за ваш заказ!
				span.you-number.center-text Номер вашего заказа: 
					span.semibold 12345678
				.you__block_cent
					.you__block_text
						span.you-number Номер вашего заказа: 
							span.semibold 12345678
						span.you-price Всего: 
							span.semibold 400 грн
						span.you-text Доставка Нова Пошта:  
							span.semibold 50 грн
						span.you-text Доставка на этаж: 
							span.semibold 50 грн
						span.you-text Начислено бонусов: 
							span.semibold 1400 грн
						span.you-total.you1-you-total Итого к оплате:  
							span.bold.size 39 000грн
					.you__block_promo
						span.promo-yellow Промокод в подарок!
						span.promo-number.bold 12345 6789
						span.promo-procent -30 % на 
							span.blue кофеварки
				.you__block_info
					p В ближайшее время наш менеджер свяжется с Вами по номеру телефона 
						span.mebium 380934973409
						| , указанному Вами в форме заказа, для подтверждения наличия товара и уточнения даты, времени и адреса доставки.
				.you__block_button
					a(href="#") Продолжить покупки
	.action-slide
		.action-slide__block
			h4.titel Акции
			.action-slide_center.js-slide
				.action-slide_center_item
					.action-slide_center_item_img
						img(src="img/slide1.png")
					.action-slide_center_item_text
						span.slide-action.media С 25 июля по 15 августа
						span.slide-red.media Выгода равняется температуре
						span.slide-date.media Осталось 
							span.media.size 10 
							span дней
					.action-slide_center_item_button.clearfix
						a(href="#").btn Хочу
				.action-slide_center_item
					.action-slide_center_item_img
						img(src="img/slide1.png")
					.action-slide_center_item_text
						span.slide-action.media С 25 июля по 15 августа
						span.slide-red.media Выгода равняется температуре
						span.slide-date.media Осталось 
							span.media.size 10 
							span дней
					.action-slide_center_item_button.clearfix
						a(href="#").btn Хочу
				.action-slide_center_item
					.action-slide_center_item_img
						img(src="img/slide1.png")
					.action-slide_center_item_text
						span.slide-action.media С 25 июля по 15 августа
						span.slide-red.media Выгода равняется температуре
						span.slide-date.media Осталось 
							span.media.size 10 
							span дней
					.action-slide_center_item_button.clearfix
						a(href="#").btn Хочу
				.action-slide_center_item
					.action-slide_center_item_img
						img(src="img/slide1.png")
					.action-slide_center_item_text
						span.slide-action.media С 25 июля по 15 августа
						span.slide-red.media Выгода равняется температуре
						span.slide-date.media Осталось 
							span.media.size 10 
							span дней
					.action-slide_center_item_button.clearfix
						a(href="#").btn Хочу
				.action-slide_center_item
					.action-slide_center_item_img
						img(src="img/slide1.png")
					.action-slide_center_item_text
						span.slide-action.media С 25 июля по 15 августа
						span.slide-red.media Выгода равняется температуре
						span.slide-date.media Осталось 
							span.media.size 10 
							span дней
					.action-slide_center_item_button.clearfix
						a(href="#").btn Хочу
				.action-slide_center_item
					.action-slide_center_item_img
						img(src="img/slide1.png")
					.action-slide_center_item_text
						span.slide-action.media С 25 июля по 15 августа
						span.slide-red.media Выгода равняется температуре
						span.slide-date.media Осталось 
							span.media.size 10 
							span дней
					.action-slide_center_item_button.clearfix
						a(href="#").btn Хочу







	include footer/footer.pug
