//- includes/head.pug
doctype html
html
	head
		title titel
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no")
		link(href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800", rel="stylesheet")
		link(href='css/main.css', type="text/css", rel="stylesheet")